// переменные
// --------------------------------------
// цвета
$color-bg: #FFFFFF;
$color-panels: #FFFFFF;
$color-text: #232323;
$color-buy-button: #44B357;
$color-part1-progressbar: #04C2C9;
$color-progressbar: #009999;
$cancel: #FF0000;
// Размеры шрифтов
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Noto+Serif:wght@300&family=Roboto:ital,wght@0,300;0,400;1,400&display=swap'); // шрифт
$title: 96px;
$main-text: 36px;
$adaptiv-text: 23px;
$aboutme-text: 20px;

// --------------------------------------
// миксины
@mixin small-btn {
    border: solid 1px $color-text;
    border-radius: 8px;
    padding: 10px 15px;
    color: $color-text;
    font-size: $aboutme-text;
}
// --------------------------------------

// обнуления 
// --------------------------------------
a{
    text-decoration: none;
    color: $color-text;
    &:active{
        text-decoration: none;
        color: $color-text;
    }
    &:hover{
        text-decoration: none;
        color: $color-text;
    }
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
// --------------------------------------


// обёртки и служебные классы
// --------------------------------------
html{
    scroll-behavior: smooth;
    body{
        background-color: $color-bg;
        font-family: 'Roboto', sans-serif;
        // font-family: 'Caveat', cursive;
        // font-family: 'Noto Serif', serif;
        font-weight: 300;
    }
}

.header-container{
    max-width: 1600px;
    margin: 0 auto;
}

.container{
    max-width: 1600px;
    margin: 0 auto;
}

.overflov{
    overflow: hidden;
}
// --------------------------------------


// шапка
// --------------------------------------
.header{
    border-bottom: 1px solid $color-text;
    position: sticky;
    // top: 0;
    // position: fixed;
    top: 0px;
     width: 100%;
    z-index: 2;
    background-color: $color-bg;
    padding: 25px 0px;
    &.open{
        .navigation__burger-btn{
            span{
                background-color: $cancel;

                &:nth-child(1){
                    transform: translateY(0) rotate(45deg);
                }
                &:nth-child(2){
                    opacity: 0;
                }
                &:nth-child(3){
                    transform: translateY(0) rotate(-45deg);
                }
            }
        }
    }

}

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;

    .navigation-panel{
        font-size: $main-text;
        color: $color-text;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;

        .navigation-panel__item{
            position: relative;
            display: flex;
            align-items: center;
            cursor: pointer;
            transition: 1s;
            img{
                padding-right: 5px;
            }
            &:hover{
                text-shadow: 1px 1px 2px $color-text;
                &::after{
                    width: 100%;
                }
            }
            &::after{
                content: '';
                position: absolute;
                width: 0%;
                height: 1px; /* Высота зачеркивающей линии */
                background: $color-text; /* Цвет зачеркивающей линии */
                top: 100%;
                transition: 1s;
            }
        }

        .navigation__img--transfer{
                transition: 1.2s;
            &:hover{
                cursor: pointer;
                transform: rotate(110deg);
            }
        }
    }
}

.navigation__burger-btn{
    display: none;
    position: relative;
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    z-index: 2;
    &:hover{
        cursor: pointer;
    }
    span{
        position: absolute;
        width: 30px;
        height: 3px;
        background-color: $color-text;
        left: 5px;
        transition: transform .5s, opacity .5s, background-color .5s;
        
        &:nth-child(1){
            transform: translateY(-10px);
        }
        &:nth-child(2){
            // ...
        }
        &:nth-child(3){
            transform: translateY(10px);
        }
    }
}
// --------------------------------------

// Контент часть
// --------------------------------------

// --- Заголовки блоков
.block{                         
    width: 100%;
    display: flex;
    justify-content: center;
    .block__title{
        position: relative;
        max-width: max-content;
        color: $color-text;
        margin-top: 160px;
        font-size: 64px; // 64-70
        font-weight: 400;
    
        &::before{
            content: '';
            position: absolute;
            width: 100%;
            height: 1px; /* Высота зачеркивающей линии */
            background: $color-text; /* Цвет зачеркивающей линии */
            top: 100%;
        }
    }
}
// --- Конец заголовков блоков





// Адаптив

@media (max-width: 1630px) {

    .header-container{
        max-width: 1200px;
        padding: 0px 15px;
    }

    .navigation__img{
        width: 60px;
        height: 60px;
    }

    .navigation{

        .navigation-panel{
            font-size: $adaptiv-text;
        }
    }
}

@media (max-width: 1160px){

    .block{
        .block__title{
            font-size: 60px; // 64-70
        }
    }

    // Шапка

    .navigation__burger-btn{
        display: block;
    }

    .header{
        &.open{
            .navigation-panel{
                transform: translateX(100%);
            }
        }
    }

    .navigation{

        .navigation-panel{
            flex-direction: column;
            gap: 0;
            position: fixed;
            top: 0;
            left: -100%;
            width: 100%;
            height: 100%;
            background-color: $color-bg;
            transition: transform .5s;

            .navigation-panel__item{
                font-size: $main-text;
                padding: 10px 0px;
            }
        }
    }

    // Конец шапка

    // Обо мне

    .about-me{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 70px;
        flex-direction: column;

        .about-me-part-2{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .about-me-part-2__spisok{
                text-align: center;
                li{
                    padding-top: 30px;
                    font-family: 'Noto Serif', serif;
                    font-size: $aboutme-text;
                    font-weight: 300;
                    list-style-position: inside; 
                }
        
                p{
                    font-size: $main-text;
                    font-weight: 400;
                }
            }
        
            .small-btn{
                margin-top: 30px;
                @include small-btn;
                transition: 0.5s;
                &:hover{
                    cursor: pointer;
                    color: $color-bg;
                    background-color: $color-text;
                }
            }
        }
        
    }

}